*
{
font-family: 'Roboto', mono;
}

.bodyDiv {
	text-align: center;
}

.toDo {
	color: red;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.sciLiImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.empathyMap {
	display: block;
	margin-left: auto;
	margin-right: 0px;
	width: 100%;
}

.empathyMap2 {
	display: block;
	margin-left: 0px;
	margin-right: auto;
	width: 100%;
}

.landingPage {
	margin: 0 auto 0 auto;
	width: 100%;
	height: 100vh;

	/* For centering content */
	display: flex;
/*	align-items: center;
	justify-content: center;
*/}

.child {
	margin: auto;
}

.storyboard {
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-style: solid;
	border-color: black;
	transition: transform .2s;
}

.storyboard:hover {
	transform: scale(1.2);
    z-index: 1;
}

#special {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.p1 {
/*	background: red;
*/	margin-top: 10em;
}

.observations {
	display: flex;
	text-align: center;
    align-items: center;
  	justify-content: center;
}